@import url("https://fonts.googleapis.com/css?family=Oswald:400");

html, .grid-container { height: 100%; margin: 0; }

body { font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 300; line-height: 2em; height: 100%; margin: 0; background-color: black; }

.resumelink a{
  display: block;
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
}

figcaption{
  color: white;
  text-align: center;
  font-style: italic;


}

.figcap2{
  color: white;
  text-align: center;

  font-style: italic;
}

h1 { 
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4rem;
letter-spacing: 3px;
  color:white;
margin-left: 4rem; 
margin-top: 3.5rem;}

h2{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 3rem;
letter-spacing: 2px;
  color:white;
  margin-top: 1rem;
margin-left: 4rem; 
}

h3{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
letter-spacing: 2px;
  color:white;
  margin-top: 3rem;
margin-left: 4rem; 
}

/* .contact-label { background-color: slateblue; grid-area: contact-label; text-align: center; font-size: inherit; padding: 0.2rem; margin-bottom: 1rem; } */

.footer{
  position: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(to bottom right, #6930c3, 0%, #56cfe1 80%);
  background-image: -moz-linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  background-image: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);    text-align: center;
  color: #f4f4f4;
}



.company-name{
  font-size: 1rem;
  padding: 1rem;

  margin-top: 4rem;
}

p{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.3rem;
  color:white;
  margin-left:4rem;
  margin-right:4rem;
  margin-top: -0.9rem;
 
}

.columnspace{
    margin-left:1rem;
}

.team-summary{
    font-family: 'Roboto';
	width:1060px;
	margin:0 auto;
	display:flex;
    margin-bottom: 3rem;
	padding-top:2rem;
	/* padding-right:2rem;
	padding-left:2rem; */
	background: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
	color:white;
}



.team-summary h2{
    font-family: 'Roboto';
    font-size: 1rem;
	padding-bottom:0.5rem;
    text-align: center;
    margin-left: 0rem;
    text-decoration: underline;
}
.team-summary p{
    font-family: 'Roboto';
	line-height: 2rem;
    text-align: center;
}

.left{
	flex: 1;
    text-align: center;
	margin-bottom:2rem;
}

.left2{
	flex: 1;
    text-align: center;
 
	margin-bottom:2rem;
}

.right{
    flex: 1;
    text-align: center;
  	margin-bottom:12rem;
    width: 50%;
}


.right2{
    flex: 2;
    text-align: center;

	margin-bottom:2rem;
}
.center{
	flex: 1;
    text-align: center;

	margin-bottom:2rem;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Add a background color and some padding around the form */


/* img {
  margin-top: 1.5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 2rem;
  width: 10%;
} */

.spacer{
  margin-top: 44rem;
}

.spaceheader{
  padding-top: 3rem;
}

.spacerbottom{
    margin-bottom: 25rem;
  }
  .spacerbottom2{
    margin-bottom: 13rem;
  }
.spacer2{
  margin-top: 10rem;
}

@media (max-width:2200px){
  .spacer2{
    margin-top:17rem ;
  }
  }

  @media (max-width:2000px){
    .spacer2{
      margin-top:15rem ;
    }
    }
    @media (max-width:1800px){
      .spacer2{
        margin-top:13rem ;
      }
      }
      @media (max-width:1600px){
        .spacer2{
          margin-top:11rem ;
        }
        }
        @media (max-width:1400px){
          .spacer2{
            margin-top:9rem ;
          }
          }
          @media (max-width:1200px){
            .spacer2{
              margin-top:8rem ;
            }
            }
            @media (max-width:1000px){
              .spacer2{
                margin-top:6rem ;
              }
              }

.spacer4{
  margin-top: 9rem;
}
.spacer3{
    margin-top: 30rem;
  }
  .spacer5{
    margin-top: 11rem;
  }

  .spacer7{
    margin-top: 21rem;
  }

  .spacer6{
    margin-top: 46rem;
  }
.rightimg {
  float: right;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.rightimg3 {
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .rightimg4 {
    float: right;
   margin-right: 2rem;
    margin-bottom: 2rem;
    width: 35%;
  }
  .rightimg5 {
    float: right;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 31%;
    height:inherit;
  }
  .rightimg6 {
    float: right;
   
    margin-bottom: 2rem;
    width: 20%;
  }

  .rightimg7 {
    float: right;
   
    margin-bottom: 2rem;
    width: 40%;
  }
.rightimg2 {
  float: right;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-top: 43rem;
}
.gridset{
  display: grid;
}

.leftimg {
  float: left;
  margin-left: 4rem;
  margin-top: 43rem;
  margin-right: 10rem;
}
.leftimg2 {
    width: 10%;
    float: left;
    margin-left: 4rem;
  
    margin-right: 10rem;
  }
  .leftimg3 {
    width: 40%;
    float: left;
  
    margin-right: 4rem;
  }

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .centerimg2 {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .centerimg3 {
    display: block;
  
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .adobelogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 20%;
}
#images{
   text-align:center;
}

.rightmargin{
  margin-right: -1rem;
}

  .container{
    text-align: center;
    margin-bottom: 2rem;

}
.category{
    display: inline-block;
    height: 100px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 10px;

}

.main {
  display: flex;
}

.main2 {
  display: flex;
}

.section {
  width: 50%;
  height: 100%;
  text-align: left;
}

.section2 {
  width: 50%;
  height: 100%;
  text-align: left;
}

video {
  width: 100%;
}

.videosize{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 2rem;

}
.videocenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  
  width: 60%;
}

.animation{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

@media (max-width:1636px){
.spacer7{
  margin-top:12rem ;
}

.spacer6{
  margin-top:42rem ;
}
}

@media (max-width:1440px){
  .spacer7{
    margin-top:9rem ;
  }
  
  .spacer6{
    margin-top:29rem ;
  }
  h2{
    font-size: 2rem;
  }
  }

  @media (max-width:1200px){
    .spacer7{
      margin-top:5rem ;
    }
    
    .spacer6{
      margin-top:21rem ;
    }
    h2{
      font-size: 2rem;
    }
    }

    @media (max-width:1130px){
      .spacer7{
        margin-top:5rem ;
      }
      
      .spacer6{
        margin-top:14rem ;
      }
      h2{
        font-size: 2rem;
      }
      }

      @media (max-width:1000px){
        .spacer7{
          margin-top:5rem ;
        }
        
        .spacer6{
          margin-top:5rem ;
        }
        h2{
          font-size: 2rem;
        }
        }

        @media (max-width:800px){
          .spacer7{
            margin-top:5rem ;
          }
          
          .spacer6{
            margin-top:3rem ;
          }
          h2{
            font-size: 2rem;
          }
          }

@media (max-width:990px){
  h3{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2rem;
  }
}

@media (max-width:635px){
  .team-summary{
    font-family: 'Roboto';
width: fit-content;
  margin:0 auto;
  display:block;
    margin-bottom: 3rem;
  padding-top:2rem;
  /* padding-right:2rem;
  padding-left:2rem; */
  background: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  color:white;
}

}



@media (max-width:730px){
  h1{
    font-size: 3rem;
  }

}


@media (max-width:860px){
  h1{
    font-size: 3rem;
  }


}
@media (max-width:690px){
  h1{
    font-size: 3rem;
  }

}
@media (max-width:575px){
  h1{
    font-size: 1.7rem;
    margin-left:2rem;
  }
  h2{
  
    margin-left:2rem;
  }
  h3{
  
    margin-left:2rem;
  }
  p{
    margin-left: 2rem;;
  }

  .adobelogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 30%;
}

}


@media (max-width:900px){
  .main2{
    display: block;
  }
.section2{
  width: 90%;
}
}

@media (max-width:670px){
 p{
   margin-left: 2rem;
 }
  h2{
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  h3{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.3rem;
letter-spacing: 2px;
  color:white;
  margin-top: 3rem;
margin-left: 2rem; 
}
}
@media (max-width:460px){
  p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.3rem;
    color:white;
    margin-left:2rem;
    margin-right:2rem;
    margin-top: 0rem;
  }
  h2{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h3{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .team-summary h2{
    font-family: 'Roboto';
    font-size: 1rem;
  padding-bottom:0.5rem;
    text-align: center;
    margin-left: 2rem;
    text-decoration: underline;
}

}


@media (max-width:440px){
  h1{
    font-size: 1.7rem;
  }

  .adobelogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 40%;
}

}

@media (max-width:870px){
.rightimg4 {
  width: 30%;
  display: block;
  margin-left: 2rem;
 }

 .section{
   margin-left: 10rem;
 }
}


@media (max-width:640px){
  .rightimg4 {
    width: 20%;
    display: block;
    margin-left: 2rem;
   }
  
   .section{
     margin-left: 8rem;
   }
  }

  
@media (max-width:425px){
  .rightimg4 {
    width: 15%;
    display: block;
    margin-left: 2rem;
   }
  
   .section{
     margin-left: 5rem;
   }
  }