@import url("https://fonts.googleapis.com/css?family=Oswald:400");

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f4f4f4;
}

a {
	color: #000;
}

a:hover {
	color: slateblue;
}


.header ul li a:hover {
	color: white
}

.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0);
	width: 100%;
	z-index: 3;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a {
	display: inline-flex;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: slateblue;
}

.header .logo {
	height: auto;
	left: 0;
	margin-left: 0;
	/* position: relative; */
	top: 0;
	width: 130px;
}


/* .header img{height: auto;width: 100%;} */


/* menu */

.header .menu {
	display: inline-block;
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}



/* 48em = 768px */

@media (min-width: 1155px) {
	.header .logo {
		width: 300px;
		height: 0;
		position: absolute;
		left: 50%;
		top: 0;
		content: "";
		margin-left: -150px;
		text-align: center;
	}
	.header ul {
		margin: 0;
		padding: 80px 0 0;
		list-style: none;
		text-align: right;
	}
	.header ul li {
		float: none;
		display: inline-block;
		position: relative;
	}
	.header ul li:nth-child(1) {
		float: left;
		margin-left: 2rem;
	}
	.header ul li:nth-child(2) {
		float: left;
		margin-right: 20rem;
	}
	.header ul li a {
		color: #262626;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		padding: 10px 60px 10px 70px;
	}
	.header ul li a:hover {
		color: white;
	}
}