@import url("https://fonts.googleapis.com/css?family=Oswald:400");

html, .grid-container { height: 100%; margin: 0; }

/* body { font-family: 'Oswald', sans-serif; font-size: 15px; font-weight: 400; line-height: 1.5em; height: 100%; margin: 0; background-color: white; } */

.projlist-label { 
  padding-top: 4rem;
  text-align: center; grid-area: projlist-label; 	background-image: radial-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  font-size: 2rem; color: white; }




  * {
    box-sizing: border-box;
  }
  
  body {
    
  background-color: black;
} 
  
  .header {
    text-align: center;
    /* padding: 32px; */
  }
  
  h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto';
    font-weight:400;
  }
  h3{
    font-family: 'Roboto';
    font-weight:500;
  }
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    
    /* margin-bottom: 1rem; */
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 30%; /* IE 10 */
    flex: 1%;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    margin: 0rem;
    margin-bottom: .5rem;
  }

  
  .container{
    float: left;
    width: 100%;
  }
  
  .container .title{
    color: #1a1a1a;
    text-align: center;
    /* margin-bottom: 10px; */
  }
  
  .content {
    position: relative;
    width: 60%;

    overflow: hidden;
  }

  .content1 {
    position: relative;
    width: 60%;
    float: right;
    margin-right: 0.5rem;
    overflow: hidden;
  }
  .content1 .content1-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content1:hover .content1-overlay{
    opacity: 1;
  }
  
  .content1-image{
    width: 100%;
  }
  
  .content1-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content1-detailss {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    /* left: 50%; */
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content1:hover .content1-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content1-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content1-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content-detailss {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    /* left: 50%; */
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  .fadeIn-top{
    top: 20%;
  }
  
  .footer{
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(to bottom right, #6930c3, 0%, #56cfe1 80%);
    background-image: -moz-linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
    background-image: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);    text-align: center;
    color: #f4f4f4;
}



.company-name{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1rem;    padding: 1rem;

    margin-top: 4rem;
}


  @media only screen and (max-width: 800px){
  .projlist-label { text-align: center; grid-area: projlist-label; 	background-image: radial-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
    font-size: 1.5rem; color: white; }

    .column {
      flex: auto;
    }
    .content {
      position: relative;
      width: 100%;
      margin: 0;
      overflow: hidden;
    }
  
    .content1 {
      position: relative;
      width: 100%;
      margin: 0;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 500px){
    .projlist-label { text-align: center; grid-area: projlist-label; 	background-image: radial-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
      font-size: 1.3rem; color: white; }
    }

    @media only screen and (max-width: 460px){
      .projlist-label { text-align: center; grid-area: projlist-label; 	background-image: radial-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
        font-size: 1rem; color: white; }
      }

    @media only screen and (max-width: 380px){
      .projlist-label { text-align: center; grid-area: projlist-label; 	background-image: radial-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
        font-size: 0.7rem; color: white;
           }
          }
    

  .animation{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
  
  
 