@import url("https://fonts.googleapis.com/css?family=Oswald:400");

html, .grid-container { height: 100%; margin: 0; }

body { font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 300; line-height: 2em; height: 100%; margin: 0; background-color: black; }

.resumelink a{
  display: block;
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;

}


figcaption{
  color: white;
  text-align: center;
  margin-left: 4rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.figcaption2{
  color: white;
  text-align: center;
  margin-left: 1rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  margin-top: -2rem;
}

.figcap2{
  color: white;
  text-align: center;
  margin-left: 0rem;
  font-style: italic;
}

.figcap3{
  color: white;
  margin-left: 30%;
  font-style: italic;
}
.spacerheader{
  padding-top: 2.5rem;
}
h1 { 
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4rem;
letter-spacing: 3px;
  color:white;
margin-left: 4rem; 
margin-top: 3.5rem;}

h2{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 3rem;
letter-spacing: 2px;
  color:white;
  margin-top: 1rem;
margin-left: 4rem; 
}

h3{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
letter-spacing: 2px;
  color:white;
margin-left: 4rem; 
}

/* .contact-label { background-color: slateblue; grid-area: contact-label; text-align: center; font-size: inherit; padding: 0.2rem; margin-bottom: 1rem; } */
.footer{
  position: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(to bottom right, #6930c3, 0%, #56cfe1 80%);
  background-image: -moz-linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  background-image: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);    text-align: center;
  color: #f4f4f4;
}



.company-name{
  font-size: 1.6rem;
  padding: 1rem;

  margin-top: 4rem;
}

p{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.3rem;
  color:white;
  margin-left:4rem;
  margin-right:4rem;
  margin-top: 0rem;
 
}

.columnspace{
    margin-left:1rem;
}

.team-summary{
  font-family: 'Roboto';
width: 100%;
margin:0 auto;
display:flex;
  margin-bottom: 3rem;
padding-top:2rem;
/* padding-right:2rem;
padding-left:2rem; */
background: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
color:white;
}



.team-summary h2{
  font-family: 'Roboto';
  font-size: 1rem;
padding-bottom:0.5rem;
  text-align: center;
  margin-left: 0rem;
  text-decoration: underline;
}
.team-summary p{
  font-family: 'Roboto';
line-height: 2rem;
  text-align: center;
}

.left{
	flex: 1;
    text-align: center;
    margin-left: 4rem;
	margin-bottom:2rem;
}

.left2{
	flex: 1;
    text-align: center;
 
	margin-bottom:2rem;
}

.right{
    flex: 1;
    text-align: center;

	margin-bottom:2rem;
}
.right2{
    flex: 2;
    text-align: center;

	margin-bottom:2rem;
}
.center{
	flex: 1;
    text-align: center;

	margin-bottom:2rem;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Add a background color and some padding around the form */


/* img {
  margin-top: 1.5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 2rem;
  width: 10%;
} */

.spacer{
  margin-top: 49rem;
}
.spacerbottom{
    margin-bottom: 25rem;
  }

.spacer2{
  margin-top: 3rem;
}

.spacer3{
    margin-top: 30rem;
  }
.rightimg {
  float: right;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.imgwidth {
  margin-left: 4rem;
width:30%;
}

.rightimg5 {
  float: right;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-bottom: 0rem;
  width: 80%;
}
.rightimg3 {
    float: right;
    margin-left: 5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    width: 30%;
  }
.rightimg2 {
  float: right;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-top: 43rem;
}

.leftimg {
  float: left;
  margin-left: 4rem;
  margin-top: 43rem;
  margin-right: 10rem;
}
.leftimg2 {
    width: 10%;
    float: left;
    margin-left: 4rem;
  
    margin-right: 10rem;
  }

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .centerimg2 {
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .centerimg3 {
    display: block;
    margin-bottom: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
.centerimg4 {
  display: inline-block;
  margin-left: 20%;
  margin-right: auto;
  width: 30%;
}
.centerimg5 {
  display: inline-block;
  margin-left: 1rem;
  margin-right: auto;
  width: 30%;
}
  .container{
    text-align: center;
    margin-bottom: 2rem;

}
.category{
    display: inline-block;
    height: 100px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 10px;

}

.main {
  display: flex;
}

.section {
  width: 50%;
  height: 100%;
  text-align: left;
}

video {
  width: 100%;
}

.videosize{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 2rem;

}
.videocenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  
  width: 60%;
}

.animation{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
@media (max-width:2570px){
.spacer3{
  margin-top: 25rem;
}
}
@media (max-width:2200px){
  .spacer3{
    margin-top: 8rem;
  }
}
@media (max-width:2070px){
  .spacer3{
    margin-top: 1rem;
  }

  .section {
    width: 10%;
    height: 100%;
    text-align: left;
  }
  
}

@media (max-width:1800px){
  .spacer3{
    margin-top: 3.5rem;
  }
}

@media (max-width:1400px){
  .spacer3{
    margin-top: 2rem;
  }
}

@media (max-width:910px){
  .main {
    display: block;
  }

  .section{
    width: 90%;
  }
  video{
    margin-left: 4rem;
    margin-right: 3rem;
  }
  
}


@media (max-width:900px){
  .team-summary{
    font-family: 'Roboto';
width: fit-content;
  margin:0 auto;
  display:block;
    margin-bottom: 3rem;
  padding-top:2rem;
  /* padding-right:2rem;
  padding-left:2rem; */
  background: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  color:white;
}
.left{
  margin-left: 0rem;
}

}

@media (max-width:635px){
  .team-summary{
    font-family: 'Roboto';
width: fit-content;
  margin:0 auto;
  display:block;
    margin-bottom: 3rem;
  padding-top:2rem;
  /* padding-right:2rem;
  padding-left:2rem; */
  background: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  color:white;
}
h1{
  font-size: 2.5rem;
}

video{
  width: 60%;
}
}

@media (max-width:600px){
  h2{
    font-size: 1.5rem;
  }

  h3{
    font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
letter-spacing: 2px;
  color:white;
  margin-top: 3rem;
margin-left: 4rem; 
}
}
@media (max-width:460px){
  p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.3rem;
    color:white;
    margin-left:2rem;
    margin-right:0.8rem;
    margin-top: 0rem;
  }
  h2{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h3{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .team-summary h2{
    font-family: 'Roboto';
    font-size: 1rem;
  padding-bottom:0.5rem;
    text-align: center;
    margin-left: 2rem;
    text-decoration: underline;
}

}


@media (max-width:440px){
  h1{
    font-size: 2rem;
  }

}

@media (max-width:720px){
  h2{
    font-size: 2.5rem;
  }
  .spacer3{
    margin-top: 3rem;
  }

}

@media (max-width:615px){
  h2{
    font-size: 2rem;
  }

}

@media (max-width:420px){
  h1{
    font-size: 2rem;
  }
  .rightimg5{
    margin-right: 2rem;
  }

 h2{
    font-size: 1.5rem;
  }
  
}
