@import url("https://fonts.googleapis.com/css?family=Oswald:400");


img {
	width: 300px;
	height: 400px;
}

body {
	font-family: sans-serif;
	padding: 2rem;
}

.element {
	padding-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-style: solid;
	border-top-color: black;
}

h1 {
	color: Black;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 0.2rem;
}

h2 {
	color: black;
	font-size: 2rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

h3 {
	color: black;
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
	font-style: italic;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald';
}

p {
	font-size: 20px;
}

a {
	color: #000;
}

a:hover {
	color: slateblue;
}



body {
	margin: 0;
	background-color: #f4f4f4;
}


.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	width: 100%;
	z-index: 3;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: slateblue;
}

.header .logo {
	height: auto;
	left: 0;
	margin-left: 0;
	top: 0;
	width: 130px;
}




/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}


/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked~.menu {
	max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}


@media (min-width: 1155px) {
	.header .logo {
		width: 100px;
		height: 0;
		position: relative;
		left: 50%;
		top: 0;
		content: "";
		margin-left: -150px;
		text-align: center;
	}
	.header ul {
		margin: 0;
		padding: 80px 0 0;
		list-style: none;
		text-align: right;
	}
	.header ul li {
		float: none;
		display: inline-block;
		position: relative;
	}
	.header ul li:nth-child(1) {
		float: left;
		margin-left: 2rem;
	}
	.header ul li:nth-child(2) {
		float: left;
		margin-right: 20rem;
	}
	.header ul li a {
		color: #262626;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		padding: 10px 60px 10px 70px;
	}
	.header ul li a:hover {
		color: #6FDA44
	}
}


/* submit button and text input label */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

input[type=text],
select,
textarea {
	width: 90%;
	padding: 12px;
	border: 1px solid #ccc;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	font-size: 20px;
}

input[type=submit] {
	font-family: 'Oswald', sans-serif;
	background-color: slateblue;
	color: white;
	margin: 1rem;
	margin-left: 0;
	padding: 1rem;
	border: none;
	width: 50%;
	cursor: pointer;
	float: left;
	font-size: 20px;
}

input[type=submit]:hover {
	background-color: rgb(88, 73, 184);
}

.container {
	border-radius: 5px;
	padding: 20px;
}

.col-25,
.col-75 {
	width: 100%;
	margin-top: 0;
}

code {
	background-color: #EEE;
	padding: 0.5rem;
	display: block;
}

.button {
	margin: 0rem;
	background-color: #333;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.card_group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 20px;
}

.card {
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	max-width: 290px;
	box-sizing: border-box;
	margin-left: inherit;
	margin-right: 10px;
	margin-bottom: 50px;
	display: inline-block;
	text-align: center;
	float: left;
	padding: 10px;
}

.bluesquare {
	height: 30px;
	width: 200px;
	background-color: slateblue;
}

.greysquare {
	height: 30px;
	width: 200px;
	background-color: slategray;
}

.blacksquare {
	height: 30px;
	width: 200px;
	background-color: black;
}

.whitesquare {
	height: 30px;
	width: 200px;
	background-color: white;
}

footer a {
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}

.footer {
	margin-top: 7REM;
	background-color: #1a1a1a;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: left!important;
}

.footer .content {
	padding-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.footer .content .info_section {
	grid-area: 1 / 1 / 2 / 2;
	padding-right: 2px;
}

.footer li {
	font-size: 0.8rem;
	color: #9b9b9b;
	padding-bottom: 0.5em;
}

.footer a {
	font-size: 0.8rem;
	color: #9b9b9b;
	padding-bottom: 0.5em;
}

.footer a:hover {
	color: white;
	border: none;
}

.videocontainer {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 26.25%;
	/* 16:9 Aspect Ratio */
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	border: none;
}